# General
DEFAULT_GROUP=1000
PASSWORD_LENGTH=16
EMAIL_GENERATE=false
EMAIL_FILE=message
# Machine
MACHINES=machines
# Dirs
MACHINE_DIR=examples/source
TMP_DIR=transfer
SHARED_DIR=examples/shared
SKEL_DIR=/etc/skel
HOME_DIR=/home
EMAIL_DIR=email
