# General
DEFAULT_GROUP=1000
PASSWORD_LENGTH=16
EMAIL_GENERATE=false
EMAIL_FILE=example/message
# Machine
MACHINES=example/machines
# Dirs
MACHINE_DIR=example/source
TMP_DIR=transfer
SHARED_DIR=example/shared
SKEL_DIR=/etc/skel
HOME_DIR=/home
EMAIL_DIR=email
DRYRUN=true